@font-face {
	font-family: header_font;
	src: url('../fonts/Heuristica-Regular.otf');
}

@font-face {
	font-family: title_font;
	src: url('../fonts/Heuristica-Italic.otf');
}

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.left {
    float: left;
}

.right {
    float: right;
}

body {
    background-color: #c0c8c6;
    text-align: center;
    margin: 0;
}

#wrapper {
    max-width: 800px;
    margin: 0 auto;
}

#header {
    font-family: header_font;
    padding: 15px;
    margin-bottom: 10px;
    font-size: 20px;
}

#header #title {
    font-size: 30px;
    text-shadow: 0 0 0.2em #F87, 0 0 0.2em #F87;
}

a {
    text-decoration: none;
}

#header a:link, a:visited, a:active {
    color: #d55a0f;
}

#header a:hover {
    color: #b5d3ef;
}

#content {
    background-color: #e3e3e3;
    color: #5d6470;
    font-family: "Droid Sans";
    font-size: 15px;
    padding: 15px;
    text-align: left;
    box-shadow: 2px 2px 2px #888888;
}

.title {
    color: #d55a0f;
    font-family: title_font;
    font-size: 20px;
}

h1 {
    color: #d55a0f;
    font-family: title_font;
}

.date {
    color: #5d6470;
    font-size: 15px;
    font-family: title_font;
}


.title a:link, a:visited, a:active {
    color: #d55a0f;
}

.title a:hover {
    color: #5d6470;
}

hr {
    color: #5d6470;
    background-color: #5d6470;
    border: none;
    height: 1px;
}

.codehilite {
    font-size: 13px;
    padding: 5px;
    background-color: #393d3c;
}
